body{
}

.container {
  width: 500px;
  margin: 20px auto;
  border-radius: 4px;
}


.header {
  background-color: #f7f7f7;
  padding: 10px;
  text-align: center;
}

.content {
  padding: 20px;
}

.section {
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom:
}

.drawer{
  max-width: 50rem !important;
}

.btn-group > .btn-active, .btn-group > input[type="radio"]:checked{
  background-color: #133929 !important;
  color: #13ca6f;
  margin-right: 2px;
  font-weight: bold;


}